@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use './partials/variables' as *;
@use './partials/mixin' as *;

//!!! cell and cell_span apears to be useless and overcomplicated in this project.
//clean this stuff up and replace with "grid-column-end: span X"; 

:root {
    @each $size in map.keys($columns) {
      --layout-grid-margin-#{$size}: #{map.get(
          $default-margin,
          $size
        )};
      --layout-grid-gutter-#{$size}: #{map.get(
          $default-gutter,
          $size
        )};
      --layout-grid-column-width-#{$size}: #{map.get(
          $column-width,
          $size
        )};
    }
}

@font-face {
    font-family: 'AvenirNextRegular';
    src: url('../assets/Font/AvenirNextLTPro-Regular.otf') format('OpenType');
    src: url('../assets/Font/Alternative files/AvenirNextLTPro.ttf') format('TrueType');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextDemi';
    src: url('../assets/Font/AvenirNextLTPro-Demi.otf') format('OpenType');
    src: url('../assets/Font/Alternative files/AvenirNextLTProDemi.ttf') format('TrueType');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextBold';
    src: url('../assets/Font/AvenirNextLTPro-Bold.otf') format('OpenType');
    src: url('../assets/Font/Alternative files/AvenirNextLTProBold.ttf') format('TrueType');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

#logo {
    @include to-rem('max-height', 20);
    @include to-rem('max-width', 120);
    
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.nav-bar {
    display: flex;
    max-width: 100%;
    background-color: $bandsite-black;
    justify-content: center;
    @include text-styles('body-copy');
    text-transform: capitalize;
    @each $size in map.keys($columns) {
        @include media-query_($size) {
            $margin: map.get($default-margin, $size);
            $gutter: map.get($default-gutter, $size);
            @include layout-grid($size, $margin, $max-width);
            @if $size == tablet {
                justify-content: flex-start;
            }
            @if $size == mobile {
                @include text-styles('body-copy', true);
                @include to-rem('padding', 0);
            }
        }
    }


    &__container {
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                width: map.get($default-content-width, $size);
                $margin: map.get($default-margin, $size);
                $gutter: map.get($default-gutter, $size);
                @if $size == mobile {
                    width: 100%;
                    $gutter: 0;
                    @include inner($size, $margin, $gutter);
                    @include to-rem(height, 30, 20, 30);
                } @else if $size == tablet {
                    width: 100%;
                    @include inner($size, $margin, $gutter);
                    @include to-rem(height, 24, 20, 24);
                } @else if $size == desktop {
                    @include inner($size, $margin, $gutter);
                    @include to-rem(height, 24, 36, 24);
                }
            }
        }
    }

    &__link {
        position: relative;
        color: $mercury;
        height: 100%;
        display: flex;
        align-items: center;
        border-color: $white;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == mobile {
                    justify-content: center;
                }
            }
        }

        &--logo {
            align-items: flex-end;
        }
        
        &--active {
            border-top: solid 3px transparent;
            border-bottom: solid 3px;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        width: 100%;
                        justify-content: center;
                    } @else {
                        width: fit-content;
                    }
                }
            }
            color: $white;
        }

        &--inactive {

            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        width: 100%;
                        justify-content: center;
                    } @else {
                        width: fit-content;
                    }
                }
            }

            &::before {
                display: flex;
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                border-bottom: solid 3px;
                transform: scaleX(0);
                transition: transform 500ms ease-in-out;
                transform-origin: 0% 50%;  
            }

            &:hover::before {
                transform: scaleX(1);
            }
        }

    }

    &__cell {
        position: relative;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                $gutter: map.get($default-gutter, $size);
                @if $size == desktop {
                    $default-column-span: 1;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    @include cell($size, $default-column-span, $gutter);
                } @else if $size == tablet{
                    $default-column-span: 2;
                    display: grid;
                    align-items: center;
                    @include cell($size, $default-column-span, $gutter);
                } @else {
                    $default-column-span: 3;
                    display: grid;
                    justify-content: center;
                    align-items: stretch;
                    justify-content: stretch;
                    @include cell($size, $default-column-span, $gutter);
                }
            }
        }
    }


    &__cell--logo {
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                $gutter: map.get($default-gutter, $size);
                @if $size == desktop {
                    $default-column-span: 2;
                    display: grid;
                    align-items: center;
                    @include cell($size, $default-column-span, $gutter);
                } @else if $size == tablet{
                    $default-column-span: 3;
                    display: grid;
                    align-items: center;
                    @include cell($size, $default-column-span, $gutter);
                } @else {
                    $default-column-span: 6;
                    display: grid;
                    justify-content: center;
                    align-items: end;
                    @include cell($size, $default-column-span, $gutter);
                }
            }
        }
    }
}

.hero {
    background: rgba($bandsite-black, 0.5);

    &__biography {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &-image {
            display: block;
            max-width: 100%;
            min-width: 100%;
            max-height: calc(100vh - 5.25rem);
            width: auto;
            object-fit: cover;
            position: relative;
            z-index: -1;
            
        }

        &-title {
            position: absolute;
            justify-content: center;
            text-transform: capitalize;
            color: $white;
            @include text-styles('page-header');
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    width: map.get($default-content-width, $size);
                    $margin: map.get($default-margin, $size);
                    $gutter: map.get($default-gutter, $size);
                    @include layout-grid($size, $margin, $max-width);
                    @if $size == mobile {
                        width: 100%;
                        @include inner($size, $margin, $gutter);
                        @include text-styles('page-header', true);
                        @include to-rem('padding-top', 0);
                    } @else if $size == tablet{
                        align-self: start;
                        @include inner($size, $margin, $gutter);
                    } @else {
                        @include inner($size, $margin, $gutter);
                    }
                }
            }
            
            &--text {
                display: inline-grid;
                z-index: 3;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        $gutter: map.get($default-gutter, $size);
                        @if $size == tablet {
                            $default-column-span: 8;
                            @include cell($size, $default-column-span, $gutter);
                        } @else {
                            $default-column-span: 6;
                            @include cell($size, $default-column-span, $gutter);
                        }
                    }
                }
            }
        }
    }
}

.biography {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__title {
        justify-content: center;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                width: map.get($default-content-width, $size);
                $margin: map.get($default-margin, $size);
                $gutter: map.get($default-gutter, $size);
                @include layout-grid($size, $margin, $max-width);
                @if $size == mobile {
                    width: 100%;
                    @include inner($size, $margin, $gutter);
                } @else if $size == tablet{ 
                    @include inner($size, $margin, $gutter);
                } @else {
                    @include inner($size, $margin, $gutter);
                }
            }
        }

        &-section-header {
            display: inline-grid;
            text-transform: capitalize;
            @include text-styles('section-header');
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    // $gutter: map.get($default-gutter, $size);
                    // @if $size == tablet {
                    //     $default-column-span: 8;
                    //     @include cell($size, $default-column-span, $gutter);
                    // } @else {
                    //     $default-column-span: 6;
                    //     @include cell($size, $default-column-span, $gutter);
                    // }
                    @if $size == mobile {
                        grid-column-end: span 6;
                        @include text-styles('section-header', true);
                    } @else {
                        grid-column-end: span 12;
                    }
                }
            }
        }
    }

    &__image {
        display: block;
        max-width:100%;
        width: auto;
        height: auto;
        position: relative;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                $gutter: map.get($default-gutter, $size);
                @if $size == mobile {
                    $default-column-span: 6;
                    @include cell($size, $default-column-span, $gutter);
                } @else {
                    grid-column-start: 2;
                    $default-column-span: 10;
                    @include cell($size, $default-column-span, $gutter);
                }
            }
        }

        &-annotation {
            display: inline-grid;
            @include text-styles('subheader');
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    $gutter: map.get($default-gutter, $size);
                    @if $size == mobile {
                        @include text-styles('subheader', true);
                        $default-column-span: 6;
                        @include cell($size, $default-column-span, $gutter);
                    } @else if $size == desktop{
                        grid-column-start: 2;
                        $default-column-span: 8;
                        @include cell($size, $default-column-span, $gutter);
                    } @else {
                        grid-column-start: 2;
                        $default-column-span: 10;
                        @include cell($size, $default-column-span, $gutter);
                    }
                }
            }

            &--quote {
                display: inline-grid;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            @include text-styles('subheader', true);
                            @include to-rem('padding-top', 8);
                        } @else {
                            @include text-styles('body-copy--quotes');
                            font-family: 'AvenirNextDemi';
                        }
                    }
                }
            }
        }
    }

    &__article {
        width: 100%;
        justify-content: center;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                width: map.get($default-content-width, $size);
                $margin: map.get($default-margin, $size);
                $gutter: map.get($default-gutter, $size);
                @include layout-grid($size, $margin, $max-width);
                @if $size == mobile {
                    @include inner($size, $margin, $gutter);
                    @include to-rem('padding-top', 16);
                    @include to-rem('padding-bottom', 16);
                } @else if $size == tablet{
                    @include inner($size, $margin, $gutter);
                    @include to-rem('padding-top', 36);
                    @include to-rem('padding-bottom', 36);
                } @else {
                    @include inner($size, $margin, $gutter);
                    @include to-rem('padding-top', 36);
                    @include to-rem('padding-bottom', 36);
                }
            }
        }

        &-header {
            display: inline-grid;
            text-transform: capitalize;
            @include text-styles('subheader');
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    $gutter: map.get($default-gutter, $size);
                    $default-column-span: 6;
                    @include cell($size, $default-column-span, $gutter);
                    @if $size == mobile {
                        @include text-styles('subheader', true);
                        @include to-rem('padding-top', 8);
                    } @else {
                        grid-column-start: 2;
                    }
                }
            }
        }
        
        &-column-left {
            display: flex;
            width: auto;
            @include text-styles('body-copy');
            @each $size in map.keys($columns) { 
                @include media-query_($size) {
                    $gutter: map.get($default-gutter, $size);
                    @if $size == mobile {
                        $default-column-span: 6;
                        @include cell($size, $default-column-span, $gutter);
                        @include text-styles('body-copy', true);
                    } @else {
                        grid-column-start: 2;
                        $default-column-span: 5;
                        @include cell($size, $default-column-span, $gutter);
                    }
                }         
            }
        }

        &-column-right {
            display: flex;
            width: auto;
            @include text-styles('body-copy');
            @each $size in map.keys($columns) { 
                @include media-query_($size) {
                    $gutter: map.get($default-gutter, $size);
                    @if $size == mobile {
                        $default-column-span: 6;
                        @include cell($size, $default-column-span, $gutter);
                        @include text-styles('body-copy', true);
                    } @else {
                        $default-column-span: 5;
                        @include cell($size, $default-column-span, $gutter);
                    }
                }         
            }
        }
    }

    &__article--photo-gallery {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $alabaster;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == mobile {
                    @include to-rem('padding-bottom', 16);
                } @else {
                    @include to-rem('padding-bottom', 36);
                }
            }
        }
    }

    &__photo-gallery {
        @extend .biography__title;
 
        &-section-header {
            display: inline-grid;
            text-transform: capitalize;
            @include text-styles('section-header');
            @include to-rem('padding-bottom', 12);
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    $gutter: map.get($default-gutter, $size);
                    $default-column-span: 12;
                    @include cell($size, $default-column-span, $gutter);
                    @if $size == mobile {
                        $default-column-span: 6;
                        @include text-styles('section-header', true);
                    }
                }
            }
        }

        &-image-container {
            display: flex;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    $gutter: map.get($default-gutter, $size);
                    @if $size == mobile {
                        $default-column-span: 6;
                        @include cell($size, $default-column-span, $gutter);
                    } @else {
                        $default-column-span: 4;
                        @include cell($size, $default-column-span, $gutter);
                    }
                }
            }
        }

        &-image {
            max-width:100%;
            max-height:100%;
            width: auto;
            height: auto;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == desktop {
                        filter: grayscale(1);
                    }
                }
            }

            transition: 1s;

            &:hover{
                filter: grayscale(0);
                transform: scale(1.14);
            }
        }
    }
}

.comments {
    @extend .biography;
    width: 100%;
    @each $size in map.keys($columns) {
        @include media-query_($size) {
            @if $size == mobile {
                @include to-rem('padding-bottom', 8);
            } @else {
                @include to-rem('padding-bottom', 16);
            }
        }
    }


    &__title {
        @extend .biography__title;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == mobile {
                    @include to-rem('padding-bottom', 16);
                } @else if $size == tablet {
                    @include to-rem('padding-bottom', 24);
                } @else {
                    @include to-rem('padding-bottom', 24);
                }
            }
        }

        &-section-header {
            @extend .biography__title-section-header;
        }

        &-form {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-end;
            @include to-rem('column-gap', 12);
            border-bottom: 1px solid $mercury;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        grid-column-end: span 6;
                        @include to-rem('row-gap', 16);
                        @include to-rem('padding-bottom', 16);
                    } @else if $size == tablet {
                        grid-column-end: span 10;
                        grid-column-start: 2;
                        @include to-rem('row-gap', 24);
                        @include to-rem('padding-bottom', 24);
                    } @else {
                        grid-column-end: span 6;
                        grid-column-start: 4;
                        @include to-rem('row-gap', 24);
                        @include to-rem('padding-bottom', 24);
                    }
                }
            }


            &-user-image {
                border-radius: 50%;
                object-fit: cover;
                @include to-rem('object-position', -3);
                background-color: $mercury;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            width: 100%;
                            height: 100%;
                            @include to-rem('max-height', 36);
                            @include to-rem('max-width', 36);
                        } @else {
                            width: 100%;
                            height: 100%;
                            @include to-rem('max-height', 48);
                            @include to-rem('max-width', 48);
                        }
                    }
                }
            }

            &-name-label {
                display: flex;
                gap: 4px;
                flex-direction: column;
                flex-wrap: nowrap;
                flex-grow: 2;
                color: $silver;
                text-transform: uppercase;
                @include text-styles-config(12, 18, 'AvenirNextDemi');

                &-input {
                    background-color: $alabaster;
                    border: solid 1px $mercury;
                    border-radius: 4px;
                    @include text-styles-config(12, 18, 'AvenirNextRegular');
                    @each $size in map.keys($columns) {
                        @include media-query_($size) {
                            @if $size == mobile {
                                @include to-rem('height', 36);
                                @include to-rem('padding', 12);
                                @include text-styles-config(12, 18, 'AvenirNextRegular', 12, 12);
                            } @else {
                                @include to-rem('height', 48);
                                @include to-rem('padding', 16);
                                @include text-styles-config(14, 20, 'AvenirNextRegular', 16, 16);
                            }
                        }
                    }

                    &:focus {
                        outline: none;
                        border: solid 1px $bandsite-black;
                    }

                }
            }

            &-comment-label {
                    @extend .comments__title-form-name-label;
                    width: 100%;
                    @each $size in map.keys($columns) {
                        @include media-query_($size) {
                            @if $size == mobile {
                                @include to-rem('padding-left', 36, 12);
                            } @else {
                                @include to-rem('padding-left', 48, 12);
                            }
                        }
                    }

                &-input {
                    background-color: $alabaster;
                    border: solid 1px $mercury;
                    border-radius: 4px;
                    @include to-rem('height', 96);
                    @each $size in map.keys($columns) {
                        @include media-query_($size) {
                            @if $size == mobile {
                                @include to-rem('padding', 12);
                                @include text-styles-config(12, 18, 'AvenirNextRegular', 12, 12);
                            } @else {
                                @include to-rem('padding', 16);
                                @include text-styles-config(14, 20, 'AvenirNextRegular', 16, 16);
                            }
                        }
                    }

                    &:focus {
                        outline: none;
                        border: solid 1px $bandsite-black;
                    }
                }
            }

            &-button {
                @include to-rem('height', 40);
                @include to-rem('min-width', 150);
                @include to-rem('padding-left', 32);
                @include to-rem('padding-right', 32);
                text-transform: uppercase;
                color: $white;
                background-color: $bandsite-black;
                border: none;
                border-radius: 4px;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            width: 100%;
                            @include to-rem('margin-left', 36, 12);
                        }
                    }
                }

                &:hover {
                    background-color: $bandsite-dark-black;
                }
            }
        }
    }

    &__posted {
        @extend .comments__title;

        &-wrapper {
            @extend .comments__title-form;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;

            &-avatar {
                @extend .comments__title-form-user-image;
            }

            &-container {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                @include to-rem('row-gap', 12);

                &-name-n-date {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    flex-grow: 1;

                    &--user-name {
                        @each $size in map.keys($columns) {
                            @include media-query_($size) {
                                @if $size == mobile {
                                    @include text-styles-config(12, 18, 'AvenirNextDemi');
                                } @else {
                                    @include text-styles-config(14, 20, 'AvenirNextDemi');
                                }
                            }
                        }
                    }

                    &--date {
                        color: $silver;
                        @each $size in map.keys($columns) {
                            @include media-query_($size) {
                                @if $size == mobile {
                                    @include text-styles-config(12, 18, 'AvenirNextRegular');
                                } @else {
                                    @include text-styles-config(14, 20, 'AvenirNextRegular');
                                }
                            }
                        }
                    }

                }
    
                &-text {
                    @each $size in map.keys($columns) {
                        @include media-query_($size) {
                            @if $size == mobile {
                                @include text-styles-config(12, 18, 'AvenirNextRegular');
                            } @else {
                                @include text-styles-config(14, 20, 'AvenirNextRegular');
                            }
                        }
                    }
                }
            }
        }
    }
}



.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $bandsite-black;
    color: $white;
    @each $size in map.keys($columns) {
        @include media-query_($size) {
            @if $size == mobile {
                @include to-rem('padding-top', 24);
                @include to-rem('padding-bottom', 16);
            } @else {
                @include to-rem('padding-top', 48);
                @include to-rem('padding-bottom', 36);
            }
        }
    }

    &__menu{
        @extend .biography__photo-gallery;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == mobile {
                    width: 100%;
                }  @else if $size == tablet {
                    width: 100%;
                }
            }
        }
        
        &-section-header {
            display: inline-grid;
            text-transform: capitalize;
            align-items: center;
            @include text-styles('section-header');
            @include to-rem('padding', 0);
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    $gutter: map.get($default-gutter, $size);
                    $default-column-span: 3;
                    @include cell($size, $default-column-span, $gutter);
                    @if $size == mobile {
                        $default-column-span: 6;
                        @include text-styles('section-header', true);
                        @include to-rem('padding-top', 0);
                        @include cell($size, $default-column-span, $gutter);
                    } @else if $size == tablet {
                        $default-column-span: 4;
                        @include cell($size, $default-column-span, $gutter);
                    }
                }
            }
        }
        
        &-social {
            @extend .footer__menu-section-header;
            display: flex;
            align-items: center;
            @include to-rem('gap', 30);
            @include to-rem('padding', 0);
            &-icon {
                width: 110%;
            }
        }

        &-logo {
            display: grid;
            justify-items: end;
            align-items: center;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    $gutter: map.get($default-gutter, $size);
                    @if $size == desktop {
                        $default-column-span: 6;
                        @include cell($size, $default-column-span, $gutter);
                    } @else if $size == tablet{
                        $default-column-span: 4;
                        @include cell($size, $default-column-span, $gutter);
                    } @else {
                        $default-column-span: 6;
                        display: grid;
                        justify-items: start;
                        grid-row-start: 6;
                        @include to-rem('padding-top',48);
                        @include to-rem('padding-bottom', 0);
                        @include cell($size, $default-column-span, $gutter);
                    }
                }
            }
        }

        &-contacts{
            @include text-styles('footer-copy');
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    $gutter: map.get($default-gutter, $size);
                    @if $size == desktop {
                        $default-column-span: 3;
                        display: grid;
                        align-items: center;
                        @include cell($size, $default-column-span, $gutter);
                    } @else if $size == tablet{
                        $default-column-span: 4;
                        display: grid;
                        align-items: center;
                        @include cell($size, $default-column-span, $gutter);
                    } @else {
                        $default-column-span: 6;
                        display: grid;
                        @include text-styles('footer-copy', true);
                        @include cell($size, $default-column-span, $gutter);
                    }
                }
            }
            div:not(:first-child) {
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            @include to-rem('padding-top', 16);
                        } @else {
                            @include to-rem('padding-top', 24);
                        }
                    }
                }    
            }
            div:first-child {
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            @include to-rem('padding-top', 0);
                        } @else {
                            @include to-rem('padding-top', 16);
                        }
                    }
                }    
            }
            span {
                display: block;
            }
            a {
                color: $white;
            }
        }

        &-copyright{
            @extend .footer__menu-contacts;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        @include to-rem('padding', 0);
                        grid-column-end: span 6;
                    } @else {
                        @include to-rem('padding-top', 24);
                        grid-column-end: span 12;
                    }
                }    
            }
        }
    }
}