@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use './partials/variables' as *;
@use './partials/mixin' as *;

@function rem($a:0, $b:0, $c:0){
    @return math.div($a+$b+$c, 16) + rem;
}

:root {
    @each $size in map.keys($columns) {
      --layout-grid-margin-#{$size}: #{map.get(
          $default-margin,
          $size
        )};
      --layout-grid-gutter-#{$size}: #{map.get(
          $default-gutter,
          $size
        )};
      --layout-grid-column-width-#{$size}: #{map.get(
          $column-width,
          $size
        )};
    }
}

@font-face {
    font-family: 'AvenirNextRegular';
    src: url('../assets/Font/AvenirNextLTPro-Regular.otf') format('OpenType');
    src: url('../assets/Font/Alternative files/AvenirNextLTPro.ttf') format('TrueType');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextDemi';
    src: url('../assets/Font/AvenirNextLTPro-Demi.otf') format('OpenType');
    src: url('../assets/Font/Alternative files/AvenirNextLTProDemi.ttf') format('TrueType');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextBold';
    src: url('../assets/Font/AvenirNextLTPro-Bold.otf') format('OpenType');
    src: url('../assets/Font/Alternative files/AvenirNextLTProBold.ttf') format('TrueType');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

#logo {
    max-height: rem(20);
    max-width: rem(120);
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.nav-bar {
    display: flex;
    max-width: 100%;
    background-color: $bandsite-black;
    justify-content: center;
    @include text-styles('body-copy');
    text-transform: capitalize;
    @each $size in map.keys($columns) {
        @include media-query_($size) {
            $margin: map.get($default-margin, $size);
            $gutter: map.get($default-gutter, $size);
            @include layout-grid($size, $margin, $max-width);
            @if $size == tablet {
                justify-content: flex-start;
            }
            @if $size == mobile {
                @include text-styles('body-copy', true);
                padding: rem(0);
            }
        }
    }


    &__container {
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                width: map.get($default-content-width, $size);
                $margin: map.get($default-margin, $size);
                $gutter: map.get($default-gutter, $size);
                @if $size == mobile {
                    width: 100%;
                    $gutter: 0;
                    @include inner($size, $margin, $gutter);
                    height: rem(30, 20, 30);
                } @else if $size == tablet {
                    width: 100%;
                    @include inner($size, $margin, $gutter);
                    height: rem(24, 20, 24);
                } @else if $size == desktop {
                    @include inner($size, $margin, $gutter);
                    height: rem(24, 36, 24);
                }
            }
        }
    }

    &__link {
        position: relative;
        color: $mercury;
        height: 100%;
        display: flex;
        align-items: center;
        border-color: $white;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == mobile {
                    justify-content: center;
                }
            }
        }

        &--logo {
            align-items: flex-end;
        }
        
        &--active {
            border-top: solid 3px transparent;
            border-bottom: solid 3px;
            color: $white;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        width: 100%;
                        justify-content: center;
                    } @else {
                        width: fit-content;
                    }
                }
            }
        }

        &--inactive {

            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        width: 100%;
                        justify-content: center;
                    } @else {
                        width: fit-content;
                    }
                }
            }

            &::before {
                display: flex;
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                border-bottom: solid 3px;
                transform: scaleX(0);
                transition: transform 500ms ease-in-out;
                transform-origin: 0% 50%;  
            }

            &:hover::before {
                transform: scaleX(1);
            }
        }
    }

    &__cell {
        position: relative;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == desktop {
                    grid-column-end: span 1;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                } @else if $size == tablet{
                    grid-column-end: span 2;
                    display: grid;
                    align-items: center;
                } @else {
                    grid-column-end: span 3;
                    display: grid;
                    justify-content: center;
                    align-items: stretch;
                    justify-content: stretch;
                }
            }
        }
    }


    &__cell--logo {
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == desktop {
                    grid-column-end: span 2;
                    display: grid;
                    align-items: center;
                } @else if $size == tablet{
                    grid-column-end: span 3;
                    display: grid;
                    align-items: center;
                } @else {
                    grid-column-end: span 6;
                    display: grid;
                    justify-content: center;
                    align-items: end;
                }
            }
        }
    }
}

.hero {
    background: rgba($bandsite-black, 0.5);

    &__biography {
        display: flex;
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &-image {
            display: block;
            max-width: 100%;
            min-width: 100%;
            max-height: calc(100vh - 5.25rem);
            width: auto;
            object-fit: cover;
            position: relative;
            z-index: -1;  
        }

        &-title {
            position: absolute;
            justify-content: center;
            text-transform: capitalize;
            color: $white;
            @include text-styles('page-header');
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    width: map.get($default-content-width, $size);
                    $margin: map.get($default-margin, $size);
                    $gutter: map.get($default-gutter, $size);
                    @include layout-grid($size, $margin, $max-width);
                    @if $size == mobile {
                        width: 100%;
                        @include inner($size, $margin, $gutter);
                        @include text-styles('page-header', true);
                        padding-top: rem(0);
                    } @else if $size == tablet{
                        width: 100%;
                        align-self: start;
                        @include inner($size, $margin, $gutter);
                    } @else {
                        @include inner($size, $margin, $gutter);
                    }
                }
            }
            
            &--text {
                display: inline-grid;
                z-index: 3;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == tablet {
                            grid-column-end: span 8;
                        } @else {
                            grid-column-end: span 6;
                        }
                    }
                }
            }
        }
    }
}

.biography {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &__title {
        justify-content: center;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                width: map.get($default-content-width, $size);
                $margin: map.get($default-margin, $size);
                $gutter: map.get($default-gutter, $size);
                @include layout-grid($size, $margin, $max-width);
                @if $size == mobile {
                    width: 100%;
                    @include inner($size, $margin, $gutter);
                } @else if $size == tablet{ 
                    width: 100%;
                    @include inner($size, $margin, $gutter);
                } @else {
                    @include inner($size, $margin, $gutter);
                }
            }
        }

        &-section-header {
            display: inline-grid;
            text-transform: capitalize;
            @include text-styles('section-header');
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        grid-column-end: span 6;
                        @include text-styles('section-header', true);
                    } @else {
                        grid-column-end: span 12;
                    }
                }
            }
        }
    }

    &__image {
        display: block;
        max-width:100%;
        width: auto;
        height: auto;
        position: relative;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == mobile {
                    grid-column-end: span 6;
                } @else {
                    grid-column-start: 2;
                    grid-column-end: span 10;
                }
            }
        }

        &-annotation {
            display: inline-grid;
            @include text-styles('subheader');
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        @include text-styles('subheader', true);
                        $default-column-span: 6;
                        grid-column-end: span 6;
                    } @else if $size == desktop{
                        grid-column-start: 2;
                        grid-column-end: span 8;
                    } @else {
                        grid-column-start: 2;
                        grid-column-end: span 10;
                    }
                }
            }

            &--quote {
                display: inline-grid;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            @include text-styles('subheader', true);
                            padding-top: rem(8);
                        } @else {
                            @include text-styles('body-copy--quotes');
                            font-family: 'AvenirNextDemi';
                        }
                    }
                }
            }
        }
    }

    &__article {
        width: 100%;
        justify-content: center;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                width: map.get($default-content-width, $size);
                $margin: map.get($default-margin, $size);
                $gutter: map.get($default-gutter, $size);
                @include layout-grid($size, $margin, $max-width);
                @if $size == mobile {
                    @include inner($size, $margin, $gutter);
                    padding-top: rem(16);
                    padding-bottom: rem(16);
                } @else if $size == tablet{
                    @include inner($size, $margin, $gutter);
                    padding-top: rem(36);
                    padding-bottom: rem(36);
                } @else {
                    @include inner($size, $margin, $gutter);
                    padding-top: rem(36);
                    padding-bottom: rem(36);
                }
            }
        }

        &-header {     
            display: inline-grid;
            text-transform: capitalize;
            grid-column-end: span 6;
            @include text-styles('subheader');
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        @include text-styles('subheader', true);
                        padding-top: rem(8);
                    } @else {
                        grid-column-start: 2;
                    }
                }
            }
        }
        
        &-column-left {
            display: flex;
            width: auto;
            @include text-styles('body-copy');
            @each $size in map.keys($columns) { 
                @include media-query_($size) {
                    @if $size == mobile {
                        grid-column-end: span 6;
                        @include text-styles('body-copy', true);
                    } @else {
                        grid-column-start: 2;
                        grid-column-end: span 5;
                    }
                }         
            }
        }

        &-column-right {
            display: flex;
            width: auto;
            @include text-styles('body-copy');
            @each $size in map.keys($columns) { 
                @include media-query_($size) {
                    @if $size == mobile {
                        grid-column-end: span 6;
                        @include text-styles('body-copy', true);
                    } @else {
                        grid-column-end: span 5;
                    }
                }         
            }
        }
    }

    &__article--photo-gallery {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $alabaster;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == mobile {
                    padding-bottom: rem(16);
                } @else {
                    padding-bottom: rem(16);
                }
            }
        }
    }

    &__photo-gallery {
        @extend .biography__title;
 
        &-section-header {
            display: inline-grid;
            text-transform: capitalize;
            @include text-styles('section-header');
            padding-bottom: rem(12);
            grid-column-end: span 12;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        grid-column-end: span 6;
                        @include text-styles('section-header', true);
                    }
                }
            }
        }

        &-image-container {
            display: flex;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        grid-column-end: span 6;
                    } @else {
                        grid-column-end: span 4;
                    }
                }
            }
        }

        &-image {
            max-width:100%;
            max-height:100%;
            width: auto;
            height: auto;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == desktop {
                        filter: grayscale(1);
                    }
                }
            }

            transition: 1s;
            &:hover{
                filter: grayscale(0);
                transform: scale(1.14);
            }
        }
    }
}

.comments {
    @extend .biography;
    width: 100%;
    @each $size in map.keys($columns) {
        @include media-query_($size) {
            @if $size == mobile {
                padding-bottom: rem(8);
            } @else {
                padding-bottom: rem(16);
            }
        }
    }


    &__title {
        @extend .biography__title;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == mobile {
                    width: 100%;
                    padding-bottom: rem(16);
                } @else if $size == tablet {
                    width: 100%;
                    padding-bottom: rem(24);
                } @else {
                    padding-bottom: rem(24);
                }
            }
        }

        &-section-header {
            @extend .biography__title-section-header;
        }

        &-form {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: flex-end;
            column-gap: rem(12);
            border-bottom: 1px solid $mercury;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        grid-column-end: span 6;
                        row-gap: rem(16);
                        padding-bottom: rem(16);
                    } @else if $size == tablet {
                        grid-column-end: span 10;
                        grid-column-start: 2;
                        row-gap: rem(24);
                        padding-bottom: rem(24);
                    } @else {
                        grid-column-end: span 6;
                        grid-column-start: 4;
                        row-gap: rem(24);
                        padding-bottom: rem(24);
                    }
                }
            }


            &-user-image {
                border-radius: 50%;
                object-fit: cover;
                object-position: rem(-3);
                background-color: $mercury;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            width: 100%;
                            height: 100%;
                            max-height: rem(36);
                            max-width: rem(36);
                        } @else {
                            width: 100%;
                            height: 100%;
                            max-height: rem(48);
                            max-width: rem(48);
                        }
                    }
                }
            }

            &-name-label {
                display: flex;
                gap: 4px;
                flex-direction: column;
                flex-wrap: nowrap;
                flex-grow: 2;
                color: $silver;
                text-transform: uppercase;
                @include text-styles-config(12, 18, 'AvenirNextDemi');

                &-input {
                    background-color: $alabaster;
                    border: solid 1px $mercury;
                    border-radius: 4px;
                    @include text-styles-config(12, 18, 'AvenirNextRegular');
                    @each $size in map.keys($columns) {
                        @include media-query_($size) {
                            @if $size == mobile {
                                height: rem(36);
                                padding: rem(12);
                                @include text-styles-config(12, 18, 'AvenirNextRegular', 12, 12);
                            } @else {
                                height: rem(48);
                                padding: rem(16);
                                @include text-styles-config(14, 20, 'AvenirNextRegular', 16, 16);
                            }
                        }
                    }

                    &--empty {
                        border-color: $red;
                    }

                    &:focus {
                        outline: none;
                        border: solid 1px $bandsite-black;
                    }
                }
            }

            &-comment-label {
                    @extend .comments__title-form-name-label;
                    width: 100%;
                    @each $size in map.keys($columns) {
                        @include media-query_($size) {
                            @if $size == mobile {
                                padding-left: rem(36, 12);
                            } @else {
                                padding-left: rem(48, 12);
                            }
                        }
                    }

                &-input {
                    background-color: $alabaster;
                    border: solid 1px $mercury;
                    border-radius: 4px;
                    resize: none;
                    height: rem(96);
                    @each $size in map.keys($columns) {
                        @include media-query_($size) {
                            @if $size == mobile {
                                padding: rem(12);
                                @include text-styles-config(12, 18, 'AvenirNextRegular', 12, 12);
                            } @else {
                                padding: rem(16);
                                @include text-styles-config(14, 20, 'AvenirNextRegular', 16, 16);
                            }
                        }
                    }

                    &--empty {
                        border-color: $red;
                    }

                    &:focus {
                        outline: none;
                        border: solid 1px $bandsite-black;
                    }
                }
            }

            &-button {
                cursor: pointer;
                height: rem(40);
                min-width: rem(150);
                padding-left: rem(32);
                padding-right: rem(32);
                @include text-styles-config(14, 22, 'AvenirNextDemi');
                text-transform: uppercase;
                color: $white;
                background-color: $bandsite-black;
                border: none;
                border-radius: 4px;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            width: 100%;
                            margin-left: rem(36, 12);
                        }
                    }
                }

                &:hover {
                    background-color: $bandsite-dark-black;
                }
            }
        }
    }

    &__posted {
        @extend .comments__title;

        &-wrapper {
            @extend .comments__title-form;
            flex-wrap: nowrap;
            align-items: flex-start;
            justify-content: flex-start;

            &-avatar {
                @extend .comments__title-form-user-image;
            }

            &-container {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                row-gap: rem(12);

                &-name-n-date {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    flex-grow: 1;

                    &--user-name {
                        @each $size in map.keys($columns) {
                            @include media-query_($size) {
                                @if $size == mobile {
                                    @include text-styles-config(12, 18, 'AvenirNextDemi');
                                } @else {
                                    @include text-styles-config(14, 20, 'AvenirNextDemi');
                                }
                            }
                        }
                    }

                    &--relative-date {
                        color: $silver;
                        @each $size in map.keys($columns) {
                            @include media-query_($size) {
                                @if $size == mobile {
                                    @include text-styles-config(12, 18, 'AvenirNextRegular');
                                } @else {
                                    @include text-styles-config(14, 20, 'AvenirNextRegular');
                                }
                            }
                        }
                    }

                    &--actual-date {
                        @extend .comments__posted-wrapper-container-name-n-date--relative-date;
                        display: none;
                    }
                }
    
                &-text {
                    @each $size in map.keys($columns) {
                        @include media-query_($size) {
                            @if $size == mobile {
                                @include text-styles-config(12, 18, 'AvenirNextRegular');
                            } @else {
                                @include text-styles-config(14, 20, 'AvenirNextRegular');
                            }
                        }
                    }
                }
            }
            
            &-delete-button {
                border: none;
                background-color: transparent;
                max-width: rem(21.5);

                &:hover {
                    filter: invert(100%) sepia(100%) saturate(9999%) hue-rotate(0deg) brightness(100%) contrast(100%);
                }
            }

            &-like-button {
                border: none;
                background-color: transparent;
                width: rem(36);

                &:hover {
                    filter: invert(100%) sepia(100%) saturate(9999%) hue-rotate(180deg) brightness(100%) contrast(100%);
                }

                &--count{
                    color: $silver;
                }
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $bandsite-black;
    color: $white;
    @each $size in map.keys($columns) {
        @include media-query_($size) {
            @if $size == mobile {
                padding-top: rem(24);
                padding-bottom: rem(16);
            } @else {
                padding-top: rem(48);
                padding-bottom: rem(36);
            }
        }
    }

    &__menu{
        @extend .biography__photo-gallery;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                @if $size == mobile {
                    width: 100%;
                }  @else if $size == tablet {
                    width: 100%;
                }
            }
        }
        
        &-section-header {
            display: inline-grid;
            text-transform: capitalize;
            align-items: center;
            grid-column-end: span 3;
            @include text-styles('section-header');
            padding: rem(0);
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        grid-column-end: span 6;
                        @include text-styles('section-header', true);
                        padding-top: rem(0);
                    } @else if $size == tablet {
                        grid-column-end: span 4;
                    }
                }
            }
        }
        
        &-social {
            @extend .footer__menu-section-header;
            display: flex;
            align-items: center;
            gap: rem(30);
            padding: rem(0);
            &-icon {
                width: 110%;
            }
        }

        &-logo {
            display: grid;
            justify-items: end;
            align-items: center;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == desktop {
                        grid-column-end: span 6;
                    } @else if $size == tablet{
                        grid-column-end: span 4;
                    } @else {
                        grid-column-end: span 6;
                        display: grid;
                        justify-items: start;
                        grid-row-start: 6;
                        padding-top: rem(48);
                        padding-bottom: rem(0);
                    }
                }
            }
        }

        &-contacts{
            @include text-styles('footer-copy');
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == desktop {
                        grid-column-end: span 3;
                        display: grid;
                        align-items: center;
                    } @else if $size == tablet{
                        grid-column-end: span 4;
                        display: grid;
                        align-items: center;
                    } @else {
                        grid-column-end: span 6;
                        display: grid;
                        @include text-styles('footer-copy', true);
                    }
                }
            }

            div:not(:first-child) {
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            padding-top: rem(16);
                        } @else {
                            padding-top: rem(24);
                        }
                    }
                }    
            }

            div:first-child {
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            padding-top: rem(0);
                        } @else {
                            padding-top: rem(16);
                        }
                    }
                }    
            }

            span {
                display: block;
            }
            
            a {
                color: $white;
            }
        }

        &-copyright{
            @extend .footer__menu-contacts;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    @if $size == mobile {
                        padding: rem(0);
                        grid-column-end: span 6;
                    } @else {
                        padding-top: rem(24);
                        grid-column-end: span 12;
                    }
                }    
            }
        }
    }
}