:root {
  --layout-grid-margin-desktop: auto;
  --layout-grid-gutter-desktop: 24px;
  --layout-grid-column-width-desktop: 66px;
  --layout-grid-margin-tablet: 0 36px;
  --layout-grid-gutter-tablet: 24px;
  --layout-grid-column-width-tablet: auto;
  --layout-grid-margin-mobile: 0 16px;
  --layout-grid-gutter-mobile: 16px;
  --layout-grid-column-width-mobile: auto;
}

@font-face {
  font-family: "AvenirNextRegular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("OpenType");
  src: url("../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextDemi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("OpenType");
  src: url("../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextBold";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("OpenType");
  src: url("../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

#logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.nav-bar {
  display: flex;
  max-width: 100%;
  background-color: #323232;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "AvenirNextRegular";
  padding-top: 0rem;
  padding-bottom: 0rem;
  text-transform: capitalize;
}
@media (min-width: 1280px) {
  .nav-bar {
    box-sizing: border-box;
    margin: 0 auto;
    padding: auto;
    padding: var(--layout-grid-margin-desktop, auto);
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav-bar {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 36px;
    padding: var(--layout-grid-margin-tablet, 0 36px);
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .nav-bar {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16px;
    padding: var(--layout-grid-margin-mobile, 0 16px);
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "AvenirNextRegular";
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .nav-bar__container {
    width: 1056px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2 * -1);
    height: 5.25rem;
  }
  @supports (display: grid) {
    .nav-bar__container {
      display: grid;
      margin: 0;
      -moz-column-gap: 24px;
           column-gap: 24px;
      row-gap: 24px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav-bar__container {
    width: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2 * -1);
    height: 4.25rem;
  }
  @supports (display: grid) {
    .nav-bar__container {
      display: grid;
      margin: 0;
      -moz-column-gap: 24px;
           column-gap: 24px;
      row-gap: 24px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
}
@media (max-width: 767px) {
  .nav-bar__container {
    width: auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: 0;
    margin: calc(var(--layout-grid-gutter-mobile, 0) / 2 * -1);
    height: 5rem;
  }
  @supports (display: grid) {
    .nav-bar__container {
      display: grid;
      margin: 0;
      -moz-column-gap: 0;
           column-gap: 0;
      row-gap: 0;
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
}
.nav-bar__link {
  position: relative;
  color: #E1E1E1;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: #FFFFFF;
}
@media (max-width: 767px) {
  .nav-bar__link {
    justify-content: center;
  }
}
.nav-bar__link--active {
  border-top: solid 3px transparent;
  border-bottom: solid 3px;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .nav-bar__link--active {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav-bar__link--active {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 767px) {
  .nav-bar__link--active {
    width: 100%;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .nav-bar__link--inactive {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav-bar__link--inactive {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 767px) {
  .nav-bar__link--inactive {
    width: 100%;
    justify-content: center;
  }
}
.nav-bar__link--inactive::before {
  display: flex;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: solid 3px;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  transform-origin: 0% 50%;
}
.nav-bar__link--inactive:hover::before {
  transform: scaleX(1);
}
.nav-bar__cell {
  position: relative;
}
@media (min-width: 1280px) {
  .nav-bar__cell {
    display: grid;
    justify-items: center;
    align-items: center;
    width: calc(8.3333333333% - 24px);
    width: calc(8.3333333333% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .nav-bar__cell {
      width: auto;
      grid-column-end: span 1;
    }
  }
  @supports (display: grid) {
    .nav-bar__cell {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav-bar__cell {
    display: grid;
    align-items: center;
    width: calc(16.6666666667% - 24px);
    width: calc(16.6666666667% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .nav-bar__cell {
      width: auto;
      grid-column-end: span 2;
    }
  }
  @supports (display: grid) {
    .nav-bar__cell {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .nav-bar__cell {
    display: grid;
    justify-content: center;
    align-items: stretch;
    justify-content: stretch;
    width: calc(50% - 16px);
    width: calc(50% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
  }
  @supports (display: grid) {
    .nav-bar__cell {
      width: auto;
      grid-column-end: span 3;
    }
  }
  @supports (display: grid) {
    .nav-bar__cell {
      margin: 0;
    }
  }
}
@media (min-width: 1280px) {
  .nav-bar__cell--logo {
    display: grid;
    align-items: center;
    width: calc(16.6666666667% - 24px);
    width: calc(16.6666666667% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .nav-bar__cell--logo {
      width: auto;
      grid-column-end: span 2;
    }
  }
  @supports (display: grid) {
    .nav-bar__cell--logo {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav-bar__cell--logo {
    display: grid;
    align-items: center;
    width: calc(25% - 24px);
    width: calc(25% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .nav-bar__cell--logo {
      width: auto;
      grid-column-end: span 3;
    }
  }
  @supports (display: grid) {
    .nav-bar__cell--logo {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .nav-bar__cell--logo {
    display: grid;
    justify-content: center;
    align-items: end;
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
  }
  @supports (display: grid) {
    .nav-bar__cell--logo {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .nav-bar__cell--logo {
      margin: 0;
    }
  }
}

.hero {
  background: rgba(50, 50, 50, 0.5);
}
.hero__biography {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero__biography-image {
  display: block;
  max-width: 100%;
  min-width: 100%;
  max-height: calc(100vh - 5.25rem);
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: -1;
}
.hero__biography-title {
  position: absolute;
  justify-content: center;
  text-transform: capitalize;
  color: #FFFFFF;
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-family: "AvenirNextBold";
  padding-top: 3rem;
  padding-bottom: 0.75rem;
}
@media (min-width: 1280px) {
  .hero__biography-title {
    width: 1056px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: auto;
    padding: var(--layout-grid-margin-desktop, auto);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2 * -1);
  }
  @supports (display: grid) {
    .hero__biography-title {
      display: grid;
      margin: 0;
      -moz-column-gap: 24px;
           column-gap: 24px;
      row-gap: 24px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__biography-title {
    width: auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 36px;
    padding: var(--layout-grid-margin-tablet, 0 36px);
    align-self: start;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2 * -1);
  }
  @supports (display: grid) {
    .hero__biography-title {
      display: grid;
      margin: 0;
      -moz-column-gap: 24px;
           column-gap: 24px;
      row-gap: 24px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
}
@media (max-width: 767px) {
  .hero__biography-title {
    width: auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16px;
    padding: var(--layout-grid-margin-mobile, 0 16px);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2 * -1);
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "AvenirNextBold";
    padding-top: 1.5rem;
    padding-bottom: 0rem;
  }
  @supports (display: grid) {
    .hero__biography-title {
      display: grid;
      margin: 0;
      -moz-column-gap: 16px;
           column-gap: 16px;
      row-gap: 16px;
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
}
.hero__biography-title span {
  display: inline-grid;
  z-index: 3;
}
@media (min-width: 1280px) {
  .hero__biography-title span {
    width: calc(50% - 24px);
    width: calc(50% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .hero__biography-title span {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .hero__biography-title span {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .hero__biography-title span {
    width: calc(66.6666666667% - 24px);
    width: calc(66.6666666667% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .hero__biography-title span {
      width: auto;
      grid-column-end: span 8;
    }
  }
  @supports (display: grid) {
    .hero__biography-title span {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .hero__biography-title span {
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
  }
  @supports (display: grid) {
    .hero__biography-title span {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .hero__biography-title span {
      margin: 0;
    }
  }
}

.biography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.biography__title, .biography__photo-gallery, .footer__menu {
  justify-content: center;
}
@media (min-width: 1280px) {
  .biography__title, .biography__photo-gallery, .footer__menu {
    width: 1056px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: auto;
    padding: var(--layout-grid-margin-desktop, auto);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2 * -1);
  }
  @supports (display: grid) {
    .biography__title, .biography__photo-gallery, .footer__menu {
      display: grid;
      margin: 0;
      -moz-column-gap: 24px;
           column-gap: 24px;
      row-gap: 24px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__title, .biography__photo-gallery, .footer__menu {
    width: auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 36px;
    padding: var(--layout-grid-margin-tablet, 0 36px);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2 * -1);
    width: 100%;
  }
  @supports (display: grid) {
    .biography__title, .biography__photo-gallery, .footer__menu {
      display: grid;
      margin: 0;
      -moz-column-gap: 24px;
           column-gap: 24px;
      row-gap: 24px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
}
@media (max-width: 767px) {
  .biography__title, .biography__photo-gallery, .footer__menu {
    width: auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16px;
    padding: var(--layout-grid-margin-mobile, 0 16px);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2 * -1);
  }
  @supports (display: grid) {
    .biography__title, .biography__photo-gallery, .footer__menu {
      display: grid;
      margin: 0;
      -moz-column-gap: 16px;
           column-gap: 16px;
      row-gap: 16px;
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
}
.biography__title-section-header {
  display: inline-grid;
  text-transform: capitalize;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-family: "AvenirNextDemi";
  padding-top: 3rem;
  padding-bottom: 0.75rem;
}
@media (min-width: 1280px) {
  .biography__title-section-header {
    width: calc(50% - 24px);
    width: calc(50% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__title-section-header {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .biography__title-section-header {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__title-section-header {
    width: calc(66.6666666667% - 24px);
    width: calc(66.6666666667% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__title-section-header {
      width: auto;
      grid-column-end: span 8;
    }
  }
  @supports (display: grid) {
    .biography__title-section-header {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .biography__title-section-header {
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "AvenirNextDemi";
    padding-top: 1.5rem;
    padding-bottom: 0rem;
  }
  @supports (display: grid) {
    .biography__title-section-header {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .biography__title-section-header {
      margin: 0;
    }
  }
}
.biography__image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;
}
@media (min-width: 1280px) {
  .biography__image {
    grid-column-start: 2;
    width: calc(83.3333333333% - 24px);
    width: calc(83.3333333333% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__image {
      width: auto;
      grid-column-end: span 10;
    }
  }
  @supports (display: grid) {
    .biography__image {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__image {
    grid-column-start: 2;
    width: calc(83.3333333333% - 24px);
    width: calc(83.3333333333% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__image {
      width: auto;
      grid-column-end: span 10;
    }
  }
  @supports (display: grid) {
    .biography__image {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .biography__image {
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
  }
  @supports (display: grid) {
    .biography__image {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .biography__image {
      margin: 0;
    }
  }
}
.biography__image-annotation {
  display: inline-grid;
  font-size: 1.3125rem;
  line-height: 1.8125rem;
  font-family: "AvenirNextDemi";
  padding-top: 0.75rem;
  padding-bottom: 0rem;
}
@media (min-width: 1280px) {
  .biography__image-annotation {
    grid-column-start: 2;
    width: calc(66.6666666667% - 24px);
    width: calc(66.6666666667% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__image-annotation {
      width: auto;
      grid-column-end: span 8;
    }
  }
  @supports (display: grid) {
    .biography__image-annotation {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__image-annotation {
    grid-column-start: 2;
    width: calc(83.3333333333% - 24px);
    width: calc(83.3333333333% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__image-annotation {
      width: auto;
      grid-column-end: span 10;
    }
  }
  @supports (display: grid) {
    .biography__image-annotation {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .biography__image-annotation {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "AvenirNextDemi";
    padding-top: 0rem;
    padding-bottom: 0rem;
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
  }
  @supports (display: grid) {
    .biography__image-annotation {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .biography__image-annotation {
      margin: 0;
    }
  }
}
.biography__image-annotation--quote {
  display: inline-grid;
}
@media (min-width: 1280px) {
  .biography__image-annotation--quote {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "AvenirNextDemi";
    padding-top: 0.75rem;
    padding-bottom: 0rem;
    font-family: "AvenirNextDemi";
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__image-annotation--quote {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "AvenirNextDemi";
    padding-top: 0.75rem;
    padding-bottom: 0rem;
    font-family: "AvenirNextDemi";
  }
}
@media (max-width: 767px) {
  .biography__image-annotation--quote {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "AvenirNextDemi";
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-top: 0.5rem;
  }
}
.biography__article {
  width: 100%;
  justify-content: center;
}
@media (min-width: 1280px) {
  .biography__article {
    width: 1056px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: auto;
    padding: var(--layout-grid-margin-desktop, auto);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2 * -1);
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  @supports (display: grid) {
    .biography__article {
      display: grid;
      margin: 0;
      -moz-column-gap: 24px;
           column-gap: 24px;
      row-gap: 24px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__article {
    width: auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 36px;
    padding: var(--layout-grid-margin-tablet, 0 36px);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2 * -1);
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  @supports (display: grid) {
    .biography__article {
      display: grid;
      margin: 0;
      -moz-column-gap: 24px;
           column-gap: 24px;
      row-gap: 24px;
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
}
@media (max-width: 767px) {
  .biography__article {
    width: auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16px;
    padding: var(--layout-grid-margin-mobile, 0 16px);
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: -8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2 * -1);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  @supports (display: grid) {
    .biography__article {
      display: grid;
      margin: 0;
      -moz-column-gap: 16px;
           column-gap: 16px;
      row-gap: 16px;
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
}
.biography__article-header {
  display: inline-grid;
  text-transform: capitalize;
  font-size: 1.3125rem;
  line-height: 1.8125rem;
  font-family: "AvenirNextDemi";
  padding-top: 0.75rem;
  padding-bottom: 0rem;
}
@media (min-width: 1280px) {
  .biography__article-header {
    width: calc(50% - 24px);
    width: calc(50% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
    grid-column-start: 2;
  }
  @supports (display: grid) {
    .biography__article-header {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .biography__article-header {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__article-header {
    width: calc(50% - 24px);
    width: calc(50% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
    grid-column-start: 2;
  }
  @supports (display: grid) {
    .biography__article-header {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .biography__article-header {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .biography__article-header {
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: "AvenirNextDemi";
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-top: 0.5rem;
  }
  @supports (display: grid) {
    .biography__article-header {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .biography__article-header {
      margin: 0;
    }
  }
}
.biography__article-column-left {
  display: flex;
  width: auto;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "AvenirNextRegular";
  padding-top: 0rem;
  padding-bottom: 0rem;
}
@media (min-width: 1280px) {
  .biography__article-column-left {
    grid-column-start: 2;
    width: calc(41.6666666667% - 24px);
    width: calc(41.6666666667% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__article-column-left {
      width: auto;
      grid-column-end: span 5;
    }
  }
  @supports (display: grid) {
    .biography__article-column-left {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__article-column-left {
    grid-column-start: 2;
    width: calc(41.6666666667% - 24px);
    width: calc(41.6666666667% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__article-column-left {
      width: auto;
      grid-column-end: span 5;
    }
  }
  @supports (display: grid) {
    .biography__article-column-left {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .biography__article-column-left {
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "AvenirNextRegular";
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  @supports (display: grid) {
    .biography__article-column-left {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .biography__article-column-left {
      margin: 0;
    }
  }
}
.biography__article-column-right {
  display: flex;
  width: auto;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: "AvenirNextRegular";
  padding-top: 0rem;
  padding-bottom: 0rem;
}
@media (min-width: 1280px) {
  .biography__article-column-right {
    width: calc(41.6666666667% - 24px);
    width: calc(41.6666666667% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__article-column-right {
      width: auto;
      grid-column-end: span 5;
    }
  }
  @supports (display: grid) {
    .biography__article-column-right {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__article-column-right {
    width: calc(41.6666666667% - 24px);
    width: calc(41.6666666667% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__article-column-right {
      width: auto;
      grid-column-end: span 5;
    }
  }
  @supports (display: grid) {
    .biography__article-column-right {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .biography__article-column-right {
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-family: "AvenirNextRegular";
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  @supports (display: grid) {
    .biography__article-column-right {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .biography__article-column-right {
      margin: 0;
    }
  }
}
.biography__article--photo-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #FAFAFA;
}
@media (min-width: 1280px) {
  .biography__article--photo-gallery {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__article--photo-gallery {
    padding-bottom: 2.25rem;
  }
}
@media (max-width: 767px) {
  .biography__article--photo-gallery {
    padding-bottom: 1rem;
  }
}
.biography__photo-gallery-section-header {
  display: inline-grid;
  text-transform: capitalize;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-family: "AvenirNextDemi";
  padding-top: 3rem;
  padding-bottom: 0.75rem;
  padding-bottom: 0.75rem;
}
@media (min-width: 1280px) {
  .biography__photo-gallery-section-header {
    width: calc(100% - 24px);
    width: calc(100% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__photo-gallery-section-header {
      width: auto;
      grid-column-end: span 12;
    }
  }
  @supports (display: grid) {
    .biography__photo-gallery-section-header {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__photo-gallery-section-header {
    width: calc(100% - 24px);
    width: calc(100% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__photo-gallery-section-header {
      width: auto;
      grid-column-end: span 12;
    }
  }
  @supports (display: grid) {
    .biography__photo-gallery-section-header {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .biography__photo-gallery-section-header {
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "AvenirNextDemi";
    padding-top: 1.5rem;
    padding-bottom: 0rem;
  }
  @supports (display: grid) {
    .biography__photo-gallery-section-header {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .biography__photo-gallery-section-header {
      margin: 0;
    }
  }
}
.biography__photo-gallery-image-container {
  display: flex;
}
@media (min-width: 1280px) {
  .biography__photo-gallery-image-container {
    width: calc(33.3333333333% - 24px);
    width: calc(33.3333333333% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__photo-gallery-image-container {
      width: auto;
      grid-column-end: span 4;
    }
  }
  @supports (display: grid) {
    .biography__photo-gallery-image-container {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .biography__photo-gallery-image-container {
    width: calc(33.3333333333% - 24px);
    width: calc(33.3333333333% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .biography__photo-gallery-image-container {
      width: auto;
      grid-column-end: span 4;
    }
  }
  @supports (display: grid) {
    .biography__photo-gallery-image-container {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .biography__photo-gallery-image-container {
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
  }
  @supports (display: grid) {
    .biography__photo-gallery-image-container {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .biography__photo-gallery-image-container {
      margin: 0;
    }
  }
}
.biography__photo-gallery-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  transition: 1s;
}
@media (min-width: 1280px) {
  .biography__photo-gallery-image {
    filter: grayscale(1);
  }
}
.biography__photo-gallery-image:hover {
  filter: grayscale(0);
  transform: scale(1.14);
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .footer {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}
.footer__menu-section-header, .footer__menu-social {
  display: inline-grid;
  text-transform: capitalize;
  align-items: center;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-family: "AvenirNextDemi";
  padding-top: 3rem;
  padding-bottom: 0.75rem;
  padding: 0rem;
}
@media (min-width: 1280px) {
  .footer__menu-section-header, .footer__menu-social {
    width: calc(25% - 24px);
    width: calc(25% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .footer__menu-section-header, .footer__menu-social {
      width: auto;
      grid-column-end: span 3;
    }
  }
  @supports (display: grid) {
    .footer__menu-section-header, .footer__menu-social {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__menu-section-header, .footer__menu-social {
    width: calc(25% - 24px);
    width: calc(25% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
    width: calc(33.3333333333% - 24px);
    width: calc(33.3333333333% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .footer__menu-section-header, .footer__menu-social {
      width: auto;
      grid-column-end: span 3;
    }
  }
  @supports (display: grid) {
    .footer__menu-section-header, .footer__menu-social {
      margin: 0;
    }
  }
  @supports (display: grid) {
    .footer__menu-section-header, .footer__menu-social {
      width: auto;
      grid-column-end: span 4;
    }
  }
  @supports (display: grid) {
    .footer__menu-section-header, .footer__menu-social {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .footer__menu-section-header, .footer__menu-social {
    width: calc(50% - 16px);
    width: calc(50% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "AvenirNextDemi";
    padding-top: 1.5rem;
    padding-bottom: 0rem;
    padding-top: 0rem;
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
  }
  @supports (display: grid) {
    .footer__menu-section-header, .footer__menu-social {
      width: auto;
      grid-column-end: span 3;
    }
  }
  @supports (display: grid) {
    .footer__menu-section-header, .footer__menu-social {
      margin: 0;
    }
  }
  @supports (display: grid) {
    .footer__menu-section-header, .footer__menu-social {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .footer__menu-section-header, .footer__menu-social {
      margin: 0;
    }
  }
}
.footer__menu-social {
  display: flex;
  align-items: center;
  gap: 1.875rem;
  padding: 0rem;
}
.footer__menu-social-icon {
  width: 110%;
}
.footer__menu-logo {
  display: grid;
  justify-items: end;
  align-items: center;
}
@media (min-width: 1280px) {
  .footer__menu-logo {
    width: calc(50% - 24px);
    width: calc(50% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .footer__menu-logo {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .footer__menu-logo {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__menu-logo {
    width: calc(33.3333333333% - 24px);
    width: calc(33.3333333333% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .footer__menu-logo {
      width: auto;
      grid-column-end: span 4;
    }
  }
  @supports (display: grid) {
    .footer__menu-logo {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .footer__menu-logo {
    display: grid;
    justify-items: start;
    grid-row-start: 6;
    padding-top: 3rem;
    padding-bottom: 0rem;
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
  }
  @supports (display: grid) {
    .footer__menu-logo {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .footer__menu-logo {
      margin: 0;
    }
  }
}
.footer__menu-contacts, .footer__menu-copyright {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "AvenirNextRegular";
  padding-top: 0rem;
  padding-bottom: 0rem;
}
@media (min-width: 1280px) {
  .footer__menu-contacts, .footer__menu-copyright {
    display: grid;
    align-items: center;
    width: calc(25% - 24px);
    width: calc(25% - var(--layout-grid-gutter-desktop, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-desktop, 24px) / 2);
  }
  @supports (display: grid) {
    .footer__menu-contacts, .footer__menu-copyright {
      width: auto;
      grid-column-end: span 3;
    }
  }
  @supports (display: grid) {
    .footer__menu-contacts, .footer__menu-copyright {
      margin: 0;
    }
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__menu-contacts, .footer__menu-copyright {
    display: grid;
    align-items: center;
    width: calc(33.3333333333% - 24px);
    width: calc(33.3333333333% - var(--layout-grid-gutter-tablet, 24px));
    box-sizing: border-box;
    margin: 12px;
    margin: calc(var(--layout-grid-gutter-tablet, 24px) / 2);
  }
  @supports (display: grid) {
    .footer__menu-contacts, .footer__menu-copyright {
      width: auto;
      grid-column-end: span 4;
    }
  }
  @supports (display: grid) {
    .footer__menu-contacts, .footer__menu-copyright {
      margin: 0;
    }
  }
}
@media (max-width: 767px) {
  .footer__menu-contacts, .footer__menu-copyright {
    display: grid;
    font-size: 0.71875rem;
    line-height: 1.125rem;
    font-family: "AvenirNextRegular";
    padding-top: 0rem;
    padding-bottom: 0rem;
    width: calc(100% - 16px);
    width: calc(100% - var(--layout-grid-gutter-mobile, 16px));
    box-sizing: border-box;
    margin: 8px;
    margin: calc(var(--layout-grid-gutter-mobile, 16px) / 2);
  }
  @supports (display: grid) {
    .footer__menu-contacts, .footer__menu-copyright {
      width: auto;
      grid-column-end: span 6;
    }
  }
  @supports (display: grid) {
    .footer__menu-contacts, .footer__menu-copyright {
      margin: 0;
    }
  }
}
@media (min-width: 1280px) {
  .footer__menu-contacts div:not(:first-child), .footer__menu-copyright div:not(:first-child) {
    padding-top: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__menu-contacts div:not(:first-child), .footer__menu-copyright div:not(:first-child) {
    padding-top: 1.5rem;
  }
}
@media (max-width: 767px) {
  .footer__menu-contacts div:not(:first-child), .footer__menu-copyright div:not(:first-child) {
    padding-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer__menu-contacts div:first-child, .footer__menu-copyright div:first-child {
    padding-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__menu-contacts div:first-child, .footer__menu-copyright div:first-child {
    padding-top: 1rem;
  }
}
@media (max-width: 767px) {
  .footer__menu-contacts div:first-child, .footer__menu-copyright div:first-child {
    padding-top: 0rem;
  }
}
.footer__menu-contacts span, .footer__menu-copyright span {
  display: block;
}
.footer__menu-contacts a, .footer__menu-copyright a {
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .footer__menu-copyright {
    padding-top: 1.5rem;
    grid-column-end: span 12;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__menu-copyright {
    padding-top: 1.5rem;
    grid-column-end: span 12;
  }
}
@media (max-width: 767px) {
  .footer__menu-copyright {
    padding: 0rem;
    grid-column-end: span 6;
  }
}/*# sourceMappingURL=bio.css.map */