@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use './partials/variables' as *;
@use './partials/mixin' as *;
@use './bio.scss' as *;


.divider {
    position: absolute;
    display: grid;
    border-bottom: 1px solid $mercury;
    @each $size in map.keys($columns) {
        @include media-query_($size) {
            $gutter: map.get($default-gutter, $size);
            @if $size == mobile {
                grid-column-end: span 6;
                @include to-rem('bottom', -10);
                @include to-rem('left', -16);
                width: calc(100% + 2rem);
                @include to-rem('height', 233.6);
            } @else if $size == tablet {
                grid-column-end: span 12;
                left: -1.125rem;
                width: calc(100% + 2.25rem);
                @include to-rem('height', 40, 18, 18);
            } @else if $size == desktop {
                grid-column-start: 4;
                grid-column-end: span 9;
                left: -1.125rem;
                width: calc(100% + 2.25rem);
                @include to-rem('height', 40, 18, 18);
            }
        }
    }
}


.hero {
    &__shows {
        @extend .hero__biography;
        overflow: hidden;

        &-image {
            @extend .hero__biography-image;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    $gutter: map.get($default-gutter, $size);
                    @if $size == mobile {
                        // @include to-rem('min-height', 436);
                    } @else if $size == tablet {
                        height: fit-content;
                        @include to-rem('min-height', 436);
                    }
                }
            }    
        }

        &-title {
            @extend .hero__biography-title;

            &--album {
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        $gutter: map.get($default-gutter, $size);
                        @if $size == mobile {
                            @include text-styles('body-copy', true);
                            grid-column-end: span 6;
                        } @else {
                            @include text-styles('subheader');
                            grid-column-end: span 12;
                        }
                    }
                }
            }

            &--song {
                display: flex;
                flex-wrap: wrap;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        $gutter: map.get($default-gutter, $size);
                        @if $size == mobile {
                            @include text-styles('section-header', true);
                            @include to-rem('padding', 0);
                            @include to-rem('gap', 6);
                            grid-column-end: span 6;
                        } @else if $size == tablet {
                            @include text-styles-config(56, 64, 'AvenirNextDemi');
                            @include to-rem('letter-spacing', 1.92);
                            @include to-rem('padding', 0);
                            @include to-rem('gap', 12);
                            grid-column-end: span 10;
                        } @else {
                            @include text-styles-config(60, 68, 'AvenirNextDemi');
                            @include to-rem('letter-spacing', 1.92);
                            @include to-rem('padding', 0);
                            @include to-rem('gap', 12);
                            grid-column-end: span 6;
                        }
                    }
                }
                
            }

            &--delimiter {
                @extend .hero__shows-title--song;
                text-transform: lowercase;
                grid-column-end: span 1;
            }

            &--soundcloud {
                grid-column-end: span 6;
                width: 100%;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        @if $size == mobile {
                            @include to-rem('height', 114);
                        } @else if $size == tablet {
                            grid-column-end: span 7;                            
                        }
                    }
                }  
            }
        }
    }
}

.shows {
    @extend .biography;
    @each $size in map.keys($columns) {
        @include media-query_($size) {
            @if $size == mobile {
                @include to-rem('padding-top', 32);
                @include to-rem('padding-bottom', 24);
            } @else {
                @include to-rem('padding-top', 36);
                @include to-rem('padding-bottom', 36);
            }
        }
    }

    &__section{
        align-items: baseline;
        justify-content: center;
        @each $size in map.keys($columns) {
            @include media-query_($size) {
                width: map.get($default-content-width, $size);
                $margin: map.get($default-margin, $size);
                $gutter: map.get($default-gutter, $size);
                @include layout-grid($size, $margin, $max-width);
                @if $size == mobile {
                    width: 100%;
                    @include inner($size, $margin, $gutter);
                } @else if $size == tablet{ 
                    width: 100%;
                    @include inner($size, $margin, $gutter, 0);
                } @else {
                    @include inner($size, $margin, $gutter, 0);
                }
            }
        }

        &-header {
            display: inline-grid;
            text-transform: capitalize;
            @include text-styles('section-header');
            @include to-rem('padding', 0);
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    $gutter: map.get($default-gutter, $size);
                    @if $size == mobile {
                        @include text-styles('section-header', true);
                        @include to-rem('padding', 0);
                        $default-column-span: 6;
                        @include cell($size, $default-column-span, $gutter);
                    } @else if $size == tablet {
                        $default-column-span: 12;
                        @include cell($size, $default-column-span, $gutter);
                    } @else if $size == desktop {
                        $default-column-span: 3;
                        @include cell($size, $default-column-span, $gutter);
                    }
                }
            }
        }

        &-container {
            position: relative;
            align-items: center;
            @each $size in map.keys($columns) {
                @include media-query_($size) {
                    width: map.get($default-content-width, $size);
                    $margin: map.get($default-margin, $size);
                    $gutter: map.get($default-gutter, $size);
                    @if $size == mobile {
                        grid-column-end: span 6;
                        @include to-rem('padding-top', 6);
                        @include to-rem('padding-bottom', 6);
                        @include inner($size, $margin, $gutter);
                    } @else if $size == tablet {
                        grid-column-end: span 12;
                        @include to-rem('padding-top', 18);
                        @include to-rem('padding-bottom', 18);
                        @include inner($size, $margin, $gutter, 0);
                    } @else if $size == desktop {
                        grid-column-end: span 9;
                        @include to-rem('padding-top', 18);
                        @include to-rem('padding-bottom', 18);
                        @include inner($size, $margin, $gutter, 0);
                    }
                }
            }

            &--active {
                background-color: $mercury;
            }

            &--heading {
                @extend .shows__section-container;
                text-transform: uppercase;
                color: $silver;
                
                &-text {
                    color: $silver;
                    text-transform: uppercase;
                    @include text-styles-config(12, 18, 'AvenirNextDemi');
                    @each $size in map.keys($columns) {
                        @include media-query_($size){
                            @if $size == mobile {
                                display: none;
                            } @else if $size == tablet {
                                grid-column-end: span 3;
                                @include to-rem('padding-top', 36);
                            } @else {
                                grid-column-end: span 2;
                                @include to-rem('padding-top', 36);
                            } 
                        }
                    }

                    &:nth-child(2){
                        grid-column-end: span 3;
                    }
                }
            }

            &-wrapper1 {
                z-index: 10;
                pointer-events:none;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        $gutter: map.get($default-gutter, $size);
                        @if $size == mobile {
                            grid-column-end: span 6;
                            text-transform: capitalize;
                            @include text-styles-config(13, 18, 'AvenirNextDemi');
                        } @else if $size == tablet {
                            grid-column-end: span 3;
                            text-transform: capitalize;
                            @include text-styles-config(13, 18, 'AvenirNextDemi');
                        } @else if $size == desktop {
                            grid-column-end: span 3;
                            grid-column-start: 4;
                            text-transform: capitalize;
                            @include text-styles-config(13, 18, 'AvenirNextDemi');
                        }
                    }
                }   
            }

            &-wrapper2 {
                z-index: 10;
                pointer-events:none;
                @each $size in map.keys($columns) {
                    @include media-query_($size) {
                        $gutter: map.get($default-gutter, $size);
                        @if $size == mobile {
                            grid-column-end: span 6;
                            text-transform: capitalize;
                            @include text-styles-config(13, 18, 'AvenirNextRegular');
                        } @else if $size == tablet {
                            grid-column-end: span 3;
                            @include text-styles-config(13, 18, 'AvenirNextRegular');
                            text-transform: capitalize;
                        } @else if $size == desktop {
                            grid-column-end: span 2;
                            @include text-styles-config(13, 18, 'AvenirNextRegular');
                            text-transform: capitalize;
                        }
                    }
                }   
            }

            &-wrapper3 {
                @extend .shows__section-container-wrapper2;
            }
            
            &-info {
                display: block;

                &--type {
                    @each $size in map.keys($columns) {
                        @include media-query_($size) {
                            @if $size == mobile {
                                text-transform: uppercase;
                                color: $silver;
                                @include text-styles('labels-and-buttons', true);
                            } @else {
                                display: none;
                            }
                        }
                    }
                }

                &--button {
                    z-index: 10;
                    @include to-rem('height', 40);
                    @include to-rem('min-width', 150);
                    width: 100%;
                    @include to-rem('padding-left', 32);
                    @include to-rem('padding-right', 32);
                    text-transform: uppercase;
                    color: $white;
                    background-color: $bandsite-black;
                    border: none;
                    border-radius: 4px;
                    @each $size in map.keys($columns) {
                        @include media-query_($size) {
                            @if $size == mobile {
                                grid-column-end: span 6;
                                @include text-styles-config(14, 22, 'AvenirNextDemi');
                            } @else if $size == tablet {
                                grid-column-end: span 3;
                                @include text-styles-config(14, 22, 'AvenirNextDemi');
                            } @else if $size == desktop {
                                grid-column-end: span 2;
                                @include text-styles-config(14, 22, 'AvenirNextDemi');
                            }
                        }
                    }

                    &:hover {
                        background-color: $bandsite-dark-black;
                    }
                }
            }
        }
    }
}